/*-------------------------------------ОБВЕРТКА С ШАХТОЙ ДЛЯ АВЫ И МЕНЮ ПОЛЬЗОВАТЕЛЯ !!!--------------------------------*/
.wrapper_avatars_and_menu_profiles {
    margin-bottom: 3px;
	width: 100%;
	height: 202px;
	padding: 1px;
	background-color: #413f3f;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
	background-color: #292929;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 1px 1px rgba(22, 22, 22, 0.75), inset 0 0 7px rgba(0, 0, 0, 0.13);
}/*-------------------------------------ОБВЕРТКА С ШАХТОЙ ДЛЯ АВЫ ПОЛЬЗОВАТЕЛЯ !!!----------------------*/
.shahta_avatars {
	width: 100%;
	height: 100%;
	margin-bottom: 5px;
	padding: 6px;
	background-color: #413f3f;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
	background-color: #292929;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 1px 1px rgba(22, 22, 22, 0.75), inset 0 0 7px rgba(0, 0, 0, 0.13);
}/*-------------------------------------ПОДИУМ ДЛЯ АВЫ ПОЛЬЗОВАТЕЛЯ !!!---------------------------------*/
.podium_avatars {
	width: 182px;
	height: 185px;
	background-color: rgba(35, 35, 35, 0.9);
	border-top: 1px solid #383838;
	border-left: 1px solid #383838;
	border-right: 1px solid #404040;
	border-bottom: 1px solid #000;
	border-radius: 8px;
    -moz-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;
    -webkit-box-shadow: inset 0 30px 30px -30px #7F7F7F, inset 0 -30px 30px -30px #7F7F7F;
    box-shadow: inset 0 30px 30px -30px #606060, inset 0 -30px 30px -30px #606060;
    box-shadow: -1px -1px 1px 1px #050505, 1px 1px 1px 1px #050505;
}/*-------------------------------------ФОН АВЫ ПОЛЬЗОВАТЕЛЯ !!!----------------------*/
.fon_avatars_user_profile {
	margin: 1px auto;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	// background-image: url(./../../../assets/fon_avatars.png);
	background-repeat: no-repeat;
	// opasity: 5;
}
.wrapAvatar {
    margin-bottom: 10px;
}
.avatar {
    width: 180px;
    height: 180px;
}