.post {
    display: flex;
    margin: 10px 0;
}
.posts img {
    margin: 0 0 0 4px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.textPost {
    margin: 0 0 10px;
    text-align: left;
}
.wrapLikes {
    display: flex;
}
.like {
    margin-right: 10px;
    color: #D55612;
}
.dislike {
    color: #D55612;
}
.wrap_post {
    margin-bottom: 20px;
}
.wrap_post h3 {
    margin: 10px 0 15px;
    font-size: 22px;
    color: #FFAC00;
}