.borderWidgets {
    padding: 1px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
	background-color: #292929;
}
.widgetFriends {
    width: 100%;
    padding-top: 10px;
    max-width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
	background-color: #292929;
}
.wrapH4Widgets {
    height: 30px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 2px;
    box-shadow: inset 0 0 7px rgba(49, 47, 47, 0.35);
	background-color: #292929;
}
.wrapH4Widgets h4 {
    margin-top: 6px;
    color: #FFAC00;
}
.widgetFriends h4 {
    margin: 10px 0;
}