.contentProfiles {
    width: 100%;
    height: 100vh;
}
.contentProfiles h1 {
    margin-bottom: 10px;
}
.wrapAvatar img {
    border-radius: 8px;
}
.wrapWidgetFriendsProfile, 
.wrapWidgetPeopleProfile {
    margin-top: 15px;
}