/*********************************ОБВЁТРКА ПОДВАЛА САЙТА**************************/
.wrapper_footer{
    margin-top: auto;
    justify-content: space-between;
	width: 100%;
	height: 470px;
	border-top: 1px solid #4A4A4A; 
    background-color: rgba(35, 35, 35, 0.9);
    box-shadow: 0px 0px 5px 1px black;
	border-bottom: 2px solid #000;
}
.footer {
	width: 100%;
	height: 425px;
    box-shadow: 0px 0px 5px 1px black;	
	-moz-box-shadow: inset 0 30px 30px -30px #828282, inset 0 -30px 30px -30px #828282;
    -webkit-box-shadow: inset 0 30px 30px -30px #070707, inset 0 -25px 7px -20px #080808;  	
} 
.image_footer {
	width: 100%;
	height: 380px;
	padding: 30px;
    border-top: 1px solid #4D4D4D;
	border-right: 1px solid #000;
	border-bottom: 2px solid #000;
	background: url(../../assets/img/sidebar/L_Top_Sidebar.png) no-repeat top left,
				url(../../assets/img/sidebar/R_Top_Sidebar.png) no-repeat top right,
				url(../../assets/img/sidebar/Top_center_Sidebar.png) repeat-x top center,
				url(../../assets/img/sidebar/L_Bottom_Sidebar.png) no-repeat bottom left,
				url(../../assets/img/sidebar/R_Bottom_Sidebar.png) no-repeat bottom right,
				url(../../assets/img/sidebar/bottom_center_Sidebar.png) repeat-x bottom center,				
				url(../../assets/img/sidebar/L_center_Sidebar.png) repeat-y left center,
				url(../../assets/img/sidebar/R_center_Sidebar.png) repeat-y right center,
				#252525;
  box-shadow: 0px 0px 5px 1px black;
}
.wrapper_sections_footer {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 1px solid #000;
}
.footer_sections {
	float: left;
	margin: 8px 12px;
	width: 252px;
	height: 297px;
	border-radius: 8px; 
	border: 1px solid #000;
}
.footer_sections p {
	margin-top: 15px;
	text-align: center;
}
.niz_footera {
	height: 25px;
	margin-top: 6px;
	padding: 0px;
	text-align: center;
	text-shadow: -3px -2px 1px #000000;
	font-size: 18px;
	font-family: serif, "courier new", verdana ;
}
.niz_footera p {
	margin: 10px;
	color: #C1C1C1;
	font-style: normal;
	font-size: 19px;
}						                                /*В СПОКОЙНОМ СОСТАЯНИИ*/
.niz_footera p a:link {
	color: #FFAC00;
	font-style: italic;
	margin: 0 5px;
}                                                            /*ПОСЕЩЁННАЯ*/
.niz_footera p a:visited {
	color: #FFAC00;
}                                                           /*ПРИ НАВЕДЕНИИ*/
.niz_footera p a:hover {
	color: #00FF00;
}                                                            /*ПРИ ЩЕЛЧКЕ*/
.niz_footera p a:active {
	color: #FF0000;
}